<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.signin_signup.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.index.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controller.signin_signup.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.signin_signup.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryLaptopController</servlet-name>
        <servlet-class>controller.index.CategoryLaptopController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryPhukienController</servlet-name>
        <servlet-class>controller.index.CategoryPhukienController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductLaptopController</servlet-name>
        <servlet-class>controller.index.ProductLaptopController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductPhukienController</servlet-name>
        <servlet-class>controller.index.ProductPhukienController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductController</servlet-name>
        <servlet-class>controller.index.ProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryController</servlet-name>
        <servlet-class>controller.index.CategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController1</servlet-name>
        <servlet-class>controller.index.SearchController1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailController</servlet-name>
        <servlet-class>controller.index.DetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowCartController</servlet-name>
        <servlet-class>controller.index.ShowCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>controller.index.CartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountController</servlet-name>
        <servlet-class>controller.index.AccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuantityController</servlet-name>
        <servlet-class>controller.index.QuantityController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveController</servlet-name>
        <servlet-class>controller.index.RemoveController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveTransactionController</servlet-name>
        <servlet-class>controller.index.SaveTransactionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HuyController</servlet-name>
        <servlet-class>controller.index.HuyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAccountController</servlet-name>
        <servlet-class>controller.index.ShowAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InfoAccountController</servlet-name>
        <servlet-class>controller.index.InfoAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerController</servlet-name>
        <servlet-class>controller.manager.ManagerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryManagerController</servlet-name>
        <servlet-class>controller.manager.CategoryManagerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductController</servlet-name>
        <servlet-class>controller.manager.AddProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProductController</servlet-name>
        <servlet-class>controller.manager.EditProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductController</servlet-name>
        <servlet-class>controller.manager.DeleteProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditController</servlet-name>
        <servlet-class>controller.manager.EditController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/HomeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryLaptopController</servlet-name>
        <url-pattern>/CategoryLaptopController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryPhukienController</servlet-name>
        <url-pattern>/CategoryPhukienController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductLaptopController</servlet-name>
        <url-pattern>/ProductLaptopController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductPhukienController</servlet-name>
        <url-pattern>/ProductPhukienController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductController</servlet-name>
        <url-pattern>/ProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryController</servlet-name>
        <url-pattern>/CategoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController1</servlet-name>
        <url-pattern>/SearchController1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailController</servlet-name>
        <url-pattern>/DetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowCartController</servlet-name>
        <url-pattern>/ShowCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/CartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountController</servlet-name>
        <url-pattern>/AccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuantityController</servlet-name>
        <url-pattern>/QuantityController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveController</servlet-name>
        <url-pattern>/RemoveController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveTransactionController</servlet-name>
        <url-pattern>/SaveTransactionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HuyController</servlet-name>
        <url-pattern>/HuyController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAccountController</servlet-name>
        <url-pattern>/ShowAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InfoAccountController</servlet-name>
        <url-pattern>/InfoAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerController</servlet-name>
        <url-pattern>/ManagerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryManagerController</servlet-name>
        <url-pattern>/CategoryManagerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductController</servlet-name>
        <url-pattern>/AddProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProductController</servlet-name>
        <url-pattern>/EditProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductController</servlet-name>
        <url-pattern>/DeleteProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditController</servlet-name>
        <url-pattern>/EditController</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>
            HomeController
        </welcome-file>
    </welcome-file-list>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
